*.tfvars
*.tfstate
*.tfstate.*
*.lock.*
.terraform/
.idea
.vs
deploy\hashicorp_vault\packer\variables.json

# Ignore Visual Studio files and directories
.vs/
*.suo
*.user
*.cache
*.log
*.log.*
*.bak
*.bak.*
*.tmp

# Ignore build and output directories
bin/
obj/

# Ignore NuGet packages and lock files
packages/
*.nupkg
*.lock.json

.idea/
.vscode/

app/test/cypresstest/node_modules/
deploy/elk/elastic-credentials.yaml
